{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Lastname</th>
                <th>Firstname</th>
                <th>Address</th>
                <th>Zipcode</th>
                <th>City</th>
                <th>Phone</th>
                <th>Birth</th>
                <th>Newsletter</th>
                <th>Accepted</th>
                <th>Uptodate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user.id }) }}">{{ user.id }}</a></td>
                <td>{{ user.lastname }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.address }}</td>
                <td>{{ user.zipCode }}</td>
                <td>{{ user.city }}</td>
                <td>{{ user.phone }}</td>
                <td>{% if user.birth %}{{ user.birth|date('Y-m-d') }}{% endif %}</td>
                <td>{% if user.newsletter %}Yes{% else %}No{% endif %}</td>
                <td>{% if user.accepted %}Yes{% else %}No{% endif %}</td>
                <td>{% if user.uptodate %}{{ user.uptodate|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user.id }) }}">show</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
{% endblock %}
